<h1>All images</h1>
<div class="row">
  <div class="col-md-6">
    <img
      style="border: 5px solid #8D6E63;"
      src="https://images.unsplash.com/photo-1664988754973-3883ab19b6e8?crop=entropy&amp;cs=tinysrgb&amp;fm=jpg&amp;ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2Njc2OTQzMDI&amp;ixlib=rb-4.0.3&amp;q=80"
      alt="HTML tutorial"
      width="580"
      height="390"
    />
  </div>
  <div class="col-md-6">
    <img
      style="border: 5px solid #66BB6A;"
      src="https://images.unsplash.com/photo-1665815844395-06f64f44b5e3?crop=entropy&amp;cs=tinysrgb&amp;fm=jpg&amp;ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2Njc4MTA4OTk&amp;ixlib=rb-4.0.3&amp;q=80"
      alt="HTML tutorial"
      width="580"
      height="390"
    />
  </div>
</div>
<img
  style="border: 5px solid #757575;"
  src="https://images.unsplash.com/photo-1665116625934-f06f9e995da9?crop=entropy&amp;cs=tinysrgb&amp;fm=jpg&amp;ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2Njc3Mjc0ODE&amp;ixlib=rb-4.0.3&amp;q=80"
  alt="HTML tutorial"
  width="580"
  height="390"
/>
<img
  style="border: 5px solid #78909C;"
  src="https://images.unsplash.com/photo-1665281402666-d1c9eb047738?crop=entropy&amp;cs=tinysrgb&amp;fm=jpg&amp;ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2Njc3MjY5OTM&amp;ixlib=rb-4.0.3&amp;q=80"
  alt="HTML tutorial"
  width="390"
  height="580"
/>
<img
  style="border: 5px solid #E64A19;"
  src="https://images.unsplash.com/photo-1665059691261-daa5bacdf826?crop=entropy&amp;cs=tinysrgb&amp;fm=jpg&amp;ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2Njc3ODgwNzM&amp;ixlib=rb-4.0.3&amp;q=80"
  alt="HTML tutorial"
  width="390"
  height="580"
/>
