<!-- <div style="display: block, width:200px, height:200px">
  <canvas
    baseChart
    [data]="pieChartData"
    [labels]="pieChartLabels"
    [chartType]="pieChartType"
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)"
  ></canvas>
</div>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Username</th>
      <th>email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userlist; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
    </tr>
  </tbody>
</table> -->
